In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data = np.random.rand(4, 4)
df = pd.DataFrame(data, columns=['f1', 'f2', 'f3', 'f4'])
df

         f1        f2        f3        f4
0  0.948299  0.275206  0.211674  0.452657
1  0.129368  0.633789  0.524151  0.108891
2  0.011563  0.231277  0.409749  0.420122
3  0.185207  0.870090  0.395439  0.839468

In [3]:
df.columns = ['Random value 1', 'Random value 2', 'Random value 3', 'Random value 4']
df

   Random value 1  Random value 2  Random value 3  Random value 4
0        0.948299        0.275206        0.211674        0.452657
1        0.129368        0.633789        0.524151        0.108891
2        0.011563        0.231277        0.409749        0.420122
3        0.185207        0.870090        0.395439        0.839468

In [4]:
df.describe()

       Random value 1  Random value 2  Random value 3  Random value 4
count        4.000000        4.000000        4.000000        4.000000
mean         0.318609        0.502590        0.385253        0.455285
std          0.425987        0.304184        0.129262        0.299349
min          0.011563        0.231277        0.211674        0.108891
25%          0.099917        0.264224        0.349497        0.342314
50%          0.157288        0.454498        0.402594        0.436390
75%          0.375980        0.692864        0.438350        0.549360
max          0.948299        0.870090        0.524151        0.839468

In [5]:
df.isnull().any()

Random value 1    False
Random value 2    False
Random value 3    False
Random value 4    False
dtype: bool

In [6]:
df.isnull().sum()

Random value 1    0
Random value 2    0
Random value 3    0
Random value 4    0
dtype: int64

In [7]:
df.dtypes

Random value 1    float64
Random value 2    float64
Random value 3    float64
Random value 4    float64
dtype: object

In [8]:
df[['Random value 2', 'Random value 3']]

   Random value 2  Random value 3
0        0.275206        0.211674
1        0.633789        0.524151
2        0.231277        0.409749
3        0.870090        0.395439

In [9]:
df.iloc[:, 1:3]

   Random value 2  Random value 3
0        0.275206        0.211674
1        0.633789        0.524151
2        0.231277        0.409749
3        0.870090        0.395439